.radios-range-slider .form-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}
.radios-range-slider .form-type--radio {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 0;
}
.radios-range-slider input[type=radio] {
  display: none;
}
.radios-range-slider input[type=radio]:checked + label {
  background-color: #0071b8;
  color: white;
  font-weight: 800;
}
.radios-range-slider label.option {
  border: 1px solid black;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0.2em 0.5em;
  -webkit-transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
  width: calc(100% - 1em - 1px);
}
.radios-range-slider .form-type--radio + .form-type--radio label {
  border-left: 0 none;
}
.radios-range-slider .form-type--radio:first-child label {
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}
.radios-range-slider .form-type--radio:last-child label {
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}
.radios-range-slider label:hover::after {
  -webkit-transform: translate(-50%, -50%) scale(1.25);
          transform: translate(-50%, -50%) scale(1.25);
}
/*# sourceMappingURL=radios-range-slider.css.map */
