.spacing-container .fieldset__wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    gap: 2em;
  }
}

.spacing-container-item {
  width: 100%;

  @media (min-width: 768px) {
    width: calc(50% - 1em);
  }
}
