.spacing-container .fieldset__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 768px) {
  .spacing-container .fieldset__wrapper {
    gap: 2em;
  }
}

.spacing-container-item {
  width: 100%;
}
@media (min-width: 768px) {
  .spacing-container-item {
    width: calc(50% - 1em);
  }
}
/*# sourceMappingURL=spacing-container.css.map */
