.content-summary {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 20px 0;

  .pattern-preview__markup & {
    max-width: 400px;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  .categories {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 0 20px;
    width: 400px;
  }

  .date-counter {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 0px 20px;
  }

  .content {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 20px;
      width: 400px;

    .content-description{
      text-align: justify;
    }

    a {
      background-color: transparent;
      border: 1px solid black;
      color: black;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

}

