.content-summary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 0 0 20px 0;
}
.pattern-preview__markup .content-summary {
  max-width: 400px;
}
.pattern-preview__markup .content-summary img {
  height: auto;
  max-width: 100%;
}
.content-summary .categories {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 20px;
  width: 400px;
}
.content-summary .date-counter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0px 20px;
}
.content-summary .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  width: 400px;
}
.content-summary .content .content-description {
  text-align: justify;
}
.content-summary .content a {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
.content-summary .content a:hover {
  background-color: black;
  color: white;
}
