.tabs {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.tabs ul[role=tablist] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  list-style: none outside none;
  margin-bottom: 0;
  padding-left: 0;
}
.tabs.no-gap ul[role=tablist] {
  gap: 0;
}
.tabs.tab-start ul[role=tablist] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.tabs.tab-end ul[role=tablist] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.tabs.tab-center ul[role=tablist] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabs.tab-fill ul[role=tablist] li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.tabs.underlined ul[role=tablist] {
  border-bottom: 2px solid blue;
}
.tabs.underlined .tab[aria-selected=true] {
  background-color: blue;
  color: white;
}
.tabs.bordered .tab {
  border: 1px solid #CFCFCF;
  border-bottom: 0 none;
}
.tabs.bordered .tab-content {
  border: 1px solid #CFCFCF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -1px;
  padding: 1rem;
}
.tabs.shadowed .tab-content {
  -webkit-box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.25);
}
.tabs.fade .tab-panel {
  opacity: 0;
  -webkit-transition: grid-template-rows 0.25s 0.05s ease-in-out, opacity 0.25s ease-in-out;
  transition: grid-template-rows 0.25s 0.05s ease-in-out, opacity 0.25s ease-in-out;
  transition: grid-template-rows 0.25s 0.05s ease-in-out, opacity 0.25s ease-in-out, -ms-grid-rows 0.25s 0.05s ease-in-out;
}
.tabs.fade .tab-panel.show {
  opacity: 1;
  -webkit-transition: grid-template-rows 0.3s ease-in-out, opacity 0.25s 0.05s ease-in-out;
  transition: grid-template-rows 0.3s ease-in-out, opacity 0.25s 0.05s ease-in-out;
  transition: grid-template-rows 0.3s ease-in-out, opacity 0.25s 0.05s ease-in-out, -ms-grid-rows 0.3s ease-in-out;
}

.tab {
  background-color: #CFCFCF;
  border: 0 none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.5rem 1rem;
  width: 100%;
}
.tab:hover, .tab:focus {
  background-color: #BEBEBE;
}
.tab[aria-selected=true] {
  background-color: white;
  cursor: default;
}

.tab-content {
  padding-top: 1rem;
}
