// @see https://www.w3.org/WAI/ARIA/apg/patterns/tabs/
.tabs {
  margin-bottom: 2rem;
  margin-top: 2rem;

  ul[role="tablist"] {
    display: flex;
    gap: 1rem;
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
  }

  &.no-gap {
    ul[role="tablist"] {
      gap: 0;
    }
  }

  &.tab-start {
    ul[role="tablist"] {
      justify-content: flex-start;
    }
  }

  &.tab-end {
    ul[role="tablist"] {
      justify-content: flex-end;
    }
  }

  &.tab-center {
    ul[role="tablist"] {
      justify-content: center;
    }
  }

  &.tab-fill {
    ul[role="tablist"] {
      li {
        flex: 1 1 100%;
      }
    }
  }

  &.underlined {
    ul[role="tablist"] {
      border-bottom: 2px solid blue;
    }

    .tab {
      &[aria-selected=true] {
        background-color: blue;
        color: white;
      }
    }
  }

  &.bordered {
    .tab {
      border: 1px solid #CFCFCF;
      border-bottom: 0 none;
    }

    .tab-content {
      border: 1px solid #CFCFCF;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-top: -1px;
      padding: 1rem;
    }
  }

  &.shadowed {
    .tab-content {
      box-shadow: 0 .75rem .75rem rgba(black, .25);
    }
  }

  &.fade {
    .tab-panel {
      opacity: 0;
      transition: grid-template-rows .25s .05s ease-in-out, opacity .25s ease-in-out;

      &.show {
        opacity: 1;
        transition: grid-template-rows .3s ease-in-out, opacity .25s .05s ease-in-out;
      }
    }
  }
}

.tab {
  background-color: #CFCFCF;
  border: 0 none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: .5rem 1rem;
  width: 100%;

  &:hover,
  &:focus {
    background-color: #BEBEBE;
  }

  &[aria-selected="true"] {
    background-color: white;
    cursor: default;
  }
}

.tab-content {
  padding-top: 1rem;
}
