.layout-auto-rows-main {
  display: grid;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .layout-auto-rows-main {
    grid-auto-flow: row;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.layout-auto-rows-main img, .layout-auto-rows-main iframe {
  height: auto;
  max-width: 100%;
  width: auto;
}
/*# sourceMappingURL=auto-rows.css.map */
