.disclosure-target {
  display: none;
}
.disclosure-target.show {
  display: block;
}
tr.disclosure-target.show {
  display: table-row;
}
.disclosure-panel {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  -webkit-transition: grid-template-rows 0.3s ease-in-out;
  transition: grid-template-rows 0.3s ease-in-out;
  transition: grid-template-rows 0.3s ease-in-out, -ms-grid-rows 0.3s ease-in-out;
}
.disclosure-panel .disclosure-panel-inner {
  min-height: 0;
  padding: 0 !important;
}
.disclosure-panel.show {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
