// @see https://www.w3.org/WAI/ARIA/apg/patterns/disclosure/
$transition-default-delay: .3s !default;
$transition-default-timing-function: ease-in-out !default;

.disclosure-target {
  display: none;

  &.show {
    display: block;
  }

  tr#{&} {
    .show {
      display: table-row;
    }
  }
}

.disclosure-panel {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows $transition-default-delay $transition-default-timing-function;

  .disclosure-panel-inner {
    min-height: 0;
    // Do not add padding or other rules modifying the height here. Use the ".disclosure-panel-content" selector instead.
    padding: 0 !important;
  }

  &.show {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
