.block-language-switcher-dropdown {
  position: relative;
}

.block-language-switcher-dropdown .contextual {
  right: -1.5rem;
  top: -.8rem;
}

.block-language-switcher-dropdown .disclosure {
  padding: var(--language-switcher-dropdown-padding-y, .5rem) var(--language-switcher-dropdown-padding-x, 1rem);
  text-transform: var(--language-switcher-dropdown-text-transform, uppercase);
}

.block-language-switcher-dropdown .disclosure-panel {
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: auto;
}

.block-language-switcher-dropdown a.language-link {
  background-color: var(--language-switcher-dropdown-background-color, white);
  display: block;
  padding: var(--language-switcher-dropdown-padding-y, .5rem) var(--language-switcher-dropdown-padding-x, 1rem);
  text-align: var(--language-switcher-dropdown-text-align, center);
  text-transform: var(--language-switcher-dropdown-text-transform, uppercase);
  white-space: nowrap;
}

.block-language-switcher-dropdown a.language-link:hover,
.block-language-switcher-dropdown a.language-link:focus {
  background-color: var(--language-switcher-dropdown-background-color-hover, #EFEFEF);
}
