@use "../functions/css-property" as *;

$body-bg: white;
$font-size-small: .75rem;
$gray: #AEAEAE;
$margin-y: 2rem;
$margin-x: 2rem;
$table-padding: .4rem;

$variables: (
  "body-bg": $body-bg,
  "font-size-small": $font-size-small,
  "margin-y": $margin-y,
  "margin-x": $margin-x,
  "table-border-color": $gray,
  "table-padding": $table-padding,
) !default;

$css-variables: () !default;

.patterns-introduction {
  table {
    border-collapse: collapse;
    font-size: cssValue("font-size-small", $variables, $css-variables);
    width: 100%;
  }

  table, th, td {
    border-bottom: 1px solid cssValue("table-border-color", $variables, $css-variables);
    padding: cssValue("table-padding", $variables, $css-variables);
    vertical-align: text-top;
  }

  .pattern-preview__markup {
    background-color: cssValue("body-bg", $variables, $css-variables);
    margin: cssValue("margin-y", $variables, $css-variables) cssValue("margin-x", $variables, $css-variables);
    padding: 2rem;
  }

  .pattern-preview__markup--summary {
    background-color: transparent;
    padding: 0;

    .content-summary {
      background-color: cssValue("body-bg", $variables, $css-variables);
    }
  }
}
