.patterns-introduction table {
  border-collapse: collapse;
  font-size: var(--font-size-small, 0.75rem);
  width: 100%;
}
.patterns-introduction table, .patterns-introduction th, .patterns-introduction td {
  border-bottom: 1px solid var(--table-border-color, #AEAEAE);
  padding: var(--table-padding, 0.4rem);
  vertical-align: text-top;
}
.patterns-introduction .pattern-preview__markup {
  background-color: var(--body-bg, white);
  margin: var(--margin-y, 2rem) var(--margin-x, 2rem);
  padding: 2rem;
}
.patterns-introduction .pattern-preview__markup--summary {
  background-color: transparent;
  padding: 0;
}
.patterns-introduction .pattern-preview__markup--summary .content-summary {
  background-color: var(--body-bg, white);
}
