.badge {
  background-color: #000;
  border: var(--btn-border, none);
  border-radius: var(--btn-border-radius, 0.225rem);
  color: #ffffff;
  cursor: var(--btn-cursor, pointer);
  display: inline-block;
  font-family: var(--btn-font-family, var(--font-family-base, sans-serif));
  font-size: var(--btn-font-size, 0.65rem);
  font-weight: var(--btn-font-weight, normal);
  line-height: var(--btn-line-height);
  padding: var(--btn-padding-y, 0.2rem) var(--btn-padding-y, 0.5rem);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.badge:disabled {
  background-color: var(--btn-disabled-bg, #1c1b1b);
  color: initial;
  pointer-events: none;
}
