$background-color: #000 !default;
$border: none !default; //btn-border
$border-radius: .225rem !default;//btn-border-radius
$btn-disabled-bg: #1c1b1b;
$color: #ffffff !default;
$cursor: pointer !default; //btn-cursor
$font-size: .65rem !default; //btn-font-size
$font-weight: normal !default; //btn-font-weight
$padding-x: .5rem !default; //btn-padding-x
$padding-y: .2rem !default; //btn-padding-y
$text-align: center !default;

.badge {
  background-color: $background-color;
  border: var(--btn-border, $border);
  border-radius: var(--btn-border-radius, $border-radius);
  color: $color;
  cursor: var(--btn-cursor, $cursor);
  display: inline-block;
  font-family: var(--btn-font-family, var(--font-family-base, sans-serif));
  font-size: var(--btn-font-size, $font-size);
  font-weight: var(--btn-font-weight, $font-weight);
  line-height: var(--btn-line-height);
  padding: var(--btn-padding-y, $padding-y) var(--btn-padding-y, $padding-x);
  text-align: $text-align;
  text-decoration: none;
  vertical-align: middle;

  &:disabled {
    background-color: var(--btn-disabled-bg, $btn-disabled-bg);
    color: initial;
    pointer-events: none;
  }
}
