.a12s-page-context-form-override {
  border: 1px solid #dedfe4;
  border-radius: 1px;
  padding: 35px 15px 15px;
  position: relative;
}

.a12s-page-context-form-override:not(:last-child) {
  margin-bottom: 1rem;
}

.a12s-page-context-form-override .override-toggle {
  background-color: #dedfe4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  padding: 2px 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.a12s-page-context-form-override .override-toggle .description {
  opacity: 0;
  position: absolute;
  top: 100%;
}

.a12s-page-context-form-override .form-type-checkbox.override-toggle input[type="checkbox"] {
  height: 12px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 3px;
  width: 18px;
}

.a12s-page-context-form-override .override-toggle input[type="checkbox"] + label {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding-right: 25px;
  position: relative;
}

.a12s-page-context-form-override .override-toggle input[type="checkbox"]:not(:checked) + label {
  margin: 0;
}

.a12s-page-context-form-override .override-toggle input[type="checkbox"] + label:before,
.a12s-page-context-form-override .override-toggle input[type="checkbox"] + label:after {
  content: "";
  position: absolute;
  right: 0;
}

.a12s-page-context-form-override .override-toggle input[type="checkbox"] + label:before {
  background-color: #dedfe4;
  border: 1px solid currentColor;
  border-radius: 6px;
  display: block;
  height: 10px;
  top: 1px;
  width: 16px;
}

.a12s-page-context-form-override .override-toggle input[type="checkbox"]:checked + label:before {
  background-color: #9cbd89;
}

.a12s-page-context-form-override .override-toggle input[type="checkbox"] + label:after {
  background-color: currentColor;
  border-radius: 50%;
  height: 8px;
  right: 8px;
  top: 3px;
  width: 8px;
}

.a12s-page-context-form-override .override-toggle input[type="checkbox"]:checked + label:after {
  right: 2px;
}

.a12s-page-context-form-override .override-toggle:has(input[type="checkbox"]:not(:checked)) + .override-target {
  cursor: not-allowed;
  opacity: .5;
}

.a12s-page-context-form-override .form-item.override-target {
  margin: 0;
  transition: opacity .3s ease-in-out;
}
