.btn {
  border: var(--btn-border, none);
  border-radius: var(--btn-border-radius, 0.225rem);
  cursor: var(--btn-cursor, pointer);
  display: inline-block;
  font-family: var(--btn-font-family, var(--font-family-base, sans-serif));
  font-size: var(--btn-font-size, 0.65rem);
  font-weight: var(--btn-font-weight, normal);
  line-height: var(--btn-line-height);
  padding: var(--btn-padding-y, 0.5rem) var(--btn-padding-y, 0.6rem);
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
}
.btn:hover {
  color: initial;
}
.btn:disabled {
  color: initial;
  pointer-events: none;
}

.btn--default, .btn--primary {
  background-color: #0d6efd;
  color: #ffffff;
}
.btn--default:hover, .btn--primary:hover {
  background-color: #0ba5ff;
}
.btn--default:disabled, .btn--primary:disabled {
  background-color: var(--btn-disabled-bg, #8dc5e3);
}

.btn--outlined {
  background-color: transparent;
  border: 1px solid #0d6efd;
  color: #0d6efd;
}
.btn--outlined:hover {
  background-color: #0d6efd;
  color: #ffffff;
}
