$accordion-bordered-toggle-border-color: #BEBEBE !default;
$margin-y: 2rem !default;

// @see https://www.w3.org/WAI/ARIA/apg/patterns/accordion/
.accordion {
  margin-bottom: $margin-y;
  margin-top: $margin-y;

  &.bordered {
    .accordion-toggle {
      border-top: 1px solid var(--accordion-bordered-toggle-border-color, $accordion-bordered-toggle-border-color);
    }
  }

  &.shadowed {
    .accordion-toggle {
      box-shadow: 0 .75rem .75rem rgba(black, .25);
      position: relative;
      transition: all .3s ease-in-out;

      &[aria-expanded="true"] {
        box-shadow: 0 .25rem .75rem rgba(black, .25);
      }
    }

    .accordion-panel {
      box-shadow: 0 .75rem .75rem rgba(black, .25);
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.accordion-toggle {
  background-color: #CFCFCF;
  border: 0 none;
  padding: .5rem 1rem;
  width: 100%;

  &:hover,
  &:focus {
    background-color: #BEBEBE;
  }

  &[aria-expanded="true"] {
    background-color: #BEBEBE;
  }
}

.accordion-panel {
  .disclosure-panel-content {
    padding: 1rem;
  }
}
