.accordion {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.accordion.bordered .accordion-toggle {
  border-top: 1px solid var(--accordion-bordered-toggle-border-color, #BEBEBE);
}
.accordion.shadowed .accordion-toggle {
  -webkit-box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.25);
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion.shadowed .accordion-toggle[aria-expanded=true] {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
}
.accordion.shadowed .accordion-panel {
  -webkit-box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.25);
  margin-left: 1rem;
  margin-right: 1rem;
}

.accordion-toggle {
  background-color: #CFCFCF;
  border: 0 none;
  padding: 0.5rem 1rem;
  width: 100%;
}
.accordion-toggle:hover, .accordion-toggle:focus {
  background-color: #BEBEBE;
}
.accordion-toggle[aria-expanded=true] {
  background-color: #BEBEBE;
}

.accordion-panel .disclosure-panel-content {
  padding: 1rem;
}
