@use "sass:map";
@use "sass:meta";

$use-css-global-variables: true !default;
$no-css-global-variable-fallback-to-name: true !default;;

@function getGlobalVariableName($name, $css-variables: (), $fallback-to-name: $no-css-global-variable-fallback-to-name) {
  @if map.has-key($css-variables, $name) {
    @return map.get($css-variables, $name);
  }

  @if $fallback-to-name {
    @return $name;
  }

  @return null;
}

@function getVariableValue($name, $variables: (), $default: null) {
  @if map.has-key($variables, $name) {
    @return map.get($variables, $name);
  }

  @return $default;
}

@function cssValue(
  $name,
  $variables: (),
  $css-variables: (),
  $default-value: null,
  $fallback-to-name: $no-css-global-variable-fallback-to-name,
  $force-global: false
) {
  @return cssGlobalValue(
    getVariableValue($name, $variables, $default-value),
    getGlobalVariableName($name, $css-variables, $fallback-to-name),
    $force-global
  );
};

@function cssGlobalValue(
  $value: null,
  $global-variable-name: null,
  $force-global: false
) {
  @if $global-variable-name != null and ($use-css-global-variables or $force-global) {
    @if $value != null {
      @return var(unquote("--" + $global-variable-name), $value);
    }

    @return var(--$global-variable-name);
  }

  @return $value;
}
