<div{{ attributes.addClass('content-summary') }}>

  {{ image }}

  <div class="categories">
    {{ pattern('badge', {label: 'tag1'}) }}
    {{ pattern('badge', {label: 'tag2'}) }}
  </div>

  <div class="date-counter">
    {{ date }}
  </div>

  <div{{ content_attributes.addClass('content') }}>
    <{{ pattern_variables.title_level|default('h2') }}{{ title_attributes.addClass('title') }}>
      {{ title }}
    </{{ pattern_variables.title_level|default('h2') }}>
    <div class="content-description">{{ description }}</div>
    {{ pattern('button-link', {label: 'Read more'}) }}
  </div>

</div>
