<div{{ attributes.addClass('slide') }}>

  <div class="slide-media">
    {{ media }}
  </div>

  <div{{ content_attributes.addClass('slide-overlay') }}>
    <{{ pattern_variables.title_level|default('h2') }}{{ title_attributes.addClass('title') }}>
    {{ title }}
    </{{ pattern_variables.title_level|default('h2') }}>

    <div class="slide-content">{{ content }}</div>
    {% if links %}
      <div class="slide-links">{{ links }}</div>
    {% endif %}
  </div>

</div>
