$padding-x: 2rem !default;
$padding-y: 1rem !default;

.slide {
  position: relative;

  .slide-overlay {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: $padding-y $padding-x;
    position: absolute;
    right: 0;
    top: 0;
  }
}
